<h1><%=@company.name%></h1>
<dl class="dl-horizontal">
  <dt>Local</dt><dd><%=@company.location%></dd>

  <dt>Email</dt><dd><%=@company.mail%></dd>

  <dt>Telefone</dt><dd><%=@company.phone%></dd>
</dl>

<div class="jobs">
  <%if @company.jobs.empty? %>
    <div class="alert alert-warning" role="alert">Nenhuma vaga disponível</div>
  <%end%>
  <%@company.jobs.each do |job| %>
    <%= render job %>
  <%end%>
</div>
<%= link_to "Voltar", root_path %>
