<dl class="dl-horizontal">
  <h1>
    <%=@company.name%>
    <%if @company.premium? %>
      <%= image_tag 'estrela.png', alt: "Estrela para uma empresa premium" %>
    <%end%>
  </h1>
  <dt>Local</dt><dd><%=@company.location%></dd>
  <dt>Email</dt><dd><%=@company.mail%></dd>
  <dt>Telefone</dt><dd><%=@company.phone%></dd>

  <%=link_to "Editar", edit_company_path(@company), class: "btn btn-primary"%>
  <%= link_to "Voltar", root_path %>
</dl>

<div class="row" style="margin-bottom: 30px;">
  <h2 class="text-center">Vagas da <%=@company.name%></h2>
  <div class="jobs">
    <%if @company.jobs.empty? %>
      <div class="alert alert-warning text-center" role="alert">Nenhuma vaga disponível</div>
    <%end%>
    <%@company.jobs.each do |job| %>
        <%= render job %>
    <%end%>
  </div>
</div>
