<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Emprego Já", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Nova Empresa", new_company_path%></li>
      <li><%= link_to "Nova Categoria", new_category_path%></li>
      <li><%= link_to "Nova Vaga", new_job_path%></li>
    </ul>
  </div>
</header>
<div class="container">
  <%unless flash[:error].nil? %>
    <div class="alert alert-danger" role="alert"><%=flash[:error]%></div>
  <%end%>
</div>
